<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.library.dao.map.LibraryMap">

    <select id="list" resultType="Library">
        select * from librarys
        where id = #{id} and (rki_no, reservenum) in (
            select rki_no, min(reservenum)
            from librarys
            group by rki_no
        )
    </select>

    <insert id="reserve">
        insert into librarys(rki_no, book_nm_info, author_nm_info, publshcmpy_nm, publcatn_yy, book_image_url, res_date, exp_date, id)
        values (#{rki_no}, #{book_nm_info}, #{author_nm_info}, #{publshcmpy_nm}, #{publcatn_yy}, #{book_image_url}, now(), DATE_ADD(NOW(), INTERVAL 14 DAY), #{id})
    </insert>

    <delete id="cancel">
        delete from librarys
        where id = #{id} and rki_no = #{rki_no}
    </delete>
    
    <update id="extend">
        update librarys set exp_date = DATE_ADD(exp_date, INTERVAL 14 DAY)
        where rki_no = #{rki_no} and id = #{id}
    </update>

    <select id="checkCnt" resultType="int">
        select count(*) from librarys
        where rki_no = #{rki_no}
    </select>

    <select id="checkRes" resultType="String">
        select exp_date from librarys
        where  reservenum =
        (
            select min(reservenum)
            from librarys
            where rki_no = #{rki_no}
        );
    </select>

    <select id="checkMax" resultType="int">
        select count(*) from librarys
        where id = #{id}
    </select>

    <select id="checkDup" resultType="int">
        select count(*) from librarys
        where id = #{id} and rki_no = #{rki_no}
    </select>

</mapper>